body {
  margin: 0;
  font-family: 'roboto';
}

* {
  box-sizing: border-box;
}

.menu-logo {
  padding: 1rem;
}

.inner-section-container {
  padding: 1rem;
}

.professional-experience-company-name {
  font-size: larger;
  font-weight: bold;
}

.flex-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

.education-card {
  justify-content: space-evenly;
  align-items: center;
}

.single-card {
  margin: 1rem;
}

.professional-experience-responsabilites-list li {
  margin-bottom: 1rem;
}

.professional-experience-heading {
  display: flex;
  vertical-align: middle;
}

.professional-experience-heading {
  display: flex;
  vertical-align: middle;
  margin: 1rem 0 1rem 0;
}

.professional-experience-logo{
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;

}