/* 

Tech Carroussel

*/

.app {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 1rem 0; */
  }
  
  .tag-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    position: relative;
    padding: 0rem 0;
    overflow: hidden;
  }
  
  .loop-slider {
    .inner {
      display: flex;
      width: fit-content;
      animation-name: loop;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: var(--direction);
      animation-duration: var(--duration);
    }
  }
  
  .tag {
    width: 5rem;
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    background-color: #1976d2;
    border-radius: 0.4rem;
    /* padding: 0.1rem 0.1rem; */
    margin-right: 1rem;
    justify-content: center;
  
    span {
      font-size: 1.2rem;
      color: #64748b;
    }
  }
  
  @keyframes loop {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* 
  
  End Tech Carroussel
  
  */